---
import type { Post } from "../lib/types";
import type { Lang } from "../i18n/i18n";
import PostCard from "./PostCard.astro";

type Props = {
  posts: Post[];
  lang: Lang;
};

const { posts, lang } = Astro.props;
---

<div class="grid gap-3 sm:grid-cols-2 sm:gap-4 lg:gap-5 xl:grid-cols-3 2xl:grid-cols-4">
  {posts.map((p, i) => (
    <PostCard post={p} lang={lang} animateIndex={i < 40 ? i : undefined} />
  ))}
</div>
